@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 42 55.6% 96.5%;
    --foreground: 203.3 48.2% 22%;
    --card: 33.6 61% 92%;
    --card-foreground: 203.3 48.2% 22%;
    --popover: 33.6 61% 92%;
    --popover-foreground: 203.3 48.2% 22%;
    --primary: 179.4 42.5% 52.9%;
    --primary-foreground: 42 55.6% 96.5%;
    --secondary: 37.5 47.6% 83.5%;
    --secondary-foreground: 203.3 48.2% 22%;
    --muted: 33.6 61% 92%;
    --muted-foreground: 197 27.2% 38.2%;
    --accent: 179.4 42.5% 52.9%;
    --accent-foreground: 42 55.6% 96.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 42 55.6% 96.5%;
    --border: 37.5 47.6% 83.5%;
    --input: 37.5 47.6% 83.5%;
    --ring: 179.4 42.5% 52.9%;
    --chart-1: 179.4 42.5% 52.9%;
    --chart-2: 197 27.2% 38.2%;
    --chart-3: 203.3 48.2% 22%;
    --chart-4: 37.5 47.6% 83.5%;
    --chart-5: 33.6 61% 92%;
    --radius: 0.5rem;
    --sidebar-background: 33.6 61% 92%;
    --sidebar-foreground: 203.3 48.2% 22%;
    --sidebar-primary: 179.4 42.5% 52.9%;
    --sidebar-primary-foreground: 42 55.6% 96.5%;
    --sidebar-accent: 37.5 47.6% 83.5%;
    --sidebar-accent-foreground: 203.3 48.2% 22%;
    --sidebar-border: 37.5 47.6% 83.5%;
    --sidebar-ring: 179.4 42.5% 52.9%;
  }
  .dark {
    --background: 203.3 48.2% 22%;
    --foreground: 42 55.6% 96.5%;
    --card: 202.6 45.2% 26.5%;
    --card-foreground: 42 55.6% 96.5%;
    --popover: 202.6 45.2% 26.5%;
    --popover-foreground: 42 55.6% 96.5%;
    --primary: 191.2 30.8% 59.2%;
    --primary-foreground: 203.3 48.2% 22%;
    --secondary: 197 27.2% 38.2%;
    --secondary-foreground: 42 55.6% 96.5%;
    --muted: 202.6 45.2% 26.5%;
    --muted-foreground: 37.5 47.6% 83.5%;
    --accent: 191.2 30.8% 59.2%;
    --accent-foreground: 203.3 48.2% 22%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 42 55.6% 96.5%;
    --border: 197 27.2% 38.2%;
    --input: 197 27.2% 38.2%;
    --ring: 191.2 30.8% 59.2%;
    --chart-1: 191.2 30.8% 59.2%;
    --chart-2: 179.4 42.5% 52.9%;
    --chart-3: 37.5 47.6% 83.5%;
    --chart-4: 33.6 61% 92%;
    --chart-5: 197 27.2% 38.2%;
    --sidebar-background: 202.6 45.2% 26.5%;
    --sidebar-foreground: 42 55.6% 96.5%;
    --sidebar-primary: 191.2 30.8% 59.2%;
    --sidebar-primary-foreground: 203.3 48.2% 22%;
    --sidebar-accent: 197 27.2% 38.2%;
    --sidebar-accent-foreground: 42 55.6% 96.5%;
    --sidebar-border: 197 27.2% 38.2%;
    --sidebar-ring: 191.2 30.8% 59.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
